/* section 1 */

.LandingSection {
  height: 800px;
  width: auto;
  background-image: url("/images/landing/cover1.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

  margin: 0;
}

.landingDiv {
  height: 350px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 280px;
}
.landingDiv h1 {
  margin: 0;
  font-size: 2.5rem;
}
.landingDiv p {
  font-size: 1.5rem;
  margin: 2rem;
}
.landingDiv div{
  margin: .8rem;
}

/* section 2 */

.mapsSection{
  /* background-color: rgb(59, 59, 59); */
  height: 400px;
  padding: 1rem;
  width: 90%;
  box-sizing: border-box;
  
  margin: 1rem auto;
}

.mapsSection h2{
  text-align: center;
  font-size: 1.5em;
}

/* .mapsDiv{

} */

.mapsList{
  padding: 1rem;
  list-style: none;
  display: flex;
}
.mapsList li{
  margin: .5rem;
  width: 100%;


}
.mapsList li p{
  text-align: center;
  margin: .5rem;
  font-size: 1rem;
}
.mapsList li img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.artistCredit {
  text-align: center;
  position: relative;
  margin: 1.5rem;
  top: 350px;
}

.artistCredit a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.382);
}

.artistCredit a:hover {
  text-decoration: underline;
}